AUTHENTIK_ISSUER=https://authentik.company/application/o/shlink/
AUTHENTIK_CLIENT_ID=your-client-id
AUTHENTIK_CLIENT_SECRET=your-client-secret
SHLINK_URL=https://shlink.company
SHLINK_API_KEY=your-shlink-api-key
NEXTAUTH_SECRET=your-nextauth-secret
